<h1>Teams - Pit Scouting</h1>
<%= link_to 'Create Team', new_team_path, class: 'btn btn-primary' %>
<ul>
  <% @teams.each do |team| %>
    <li>
      <strong> <%= team.number  %> </strong> - <%= team.name %>
      <%= link_to edit_team_path(team) do %>
      <%= 'edit'  %>
      <% end %>
    </li>
  <% end %>
</ul>
